In [1]:
# load the pt-pt json file into a dataframe
import pandas as pd

df = pd.read_json('dataset/en-US.jsonl', lines=True)
df

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id
0,0,en-US,test,alarm,alarm_set,wake me up at five am this week,wake me up at [time : five am] [date : this week],1
1,1,en-US,train,alarm,alarm_set,wake me up at nine am on friday,wake me up at [time : nine am] on [date : friday],1
2,2,en-US,train,alarm,alarm_set,set an alarm for two hours from now,set an alarm for [time : two hours from now],1
3,3,en-US,test,audio,audio_volume_mute,quiet,quiet,1
4,4,en-US,train,audio,audio_volume_mute,olly quiet,olly quiet,1
...,...,...,...,...,...,...,...,...
16516,17176,en-US,train,email,email_query,do i have emails,do i have emails,12
16517,17177,en-US,train,email,email_query,what emails are new,what emails are new,12
16518,17178,en-US,train,email,email_query,do i have new emails from john,do i have new emails from [person : john],12
16519,17179,en-US,test,email,email_query,has john sent me an email,has [person : john] sent me an email,12
16520,17180,en-US,train,email,email_query,check email from john,check email from [person : john],12

In [2]:
df['intent'].unique()

array(['alarm_set', 'audio_volume_mute', 'iot_hue_lightchange',
       'iot_hue_lightoff', 'iot_hue_lighton', 'iot_hue_lightdim',
       'iot_cleaning', 'calendar_query', 'play_music', 'general_quirky',
       'general_greet', 'datetime_query', 'datetime_convert',
       'takeaway_query', 'alarm_remove', 'alarm_query', 'news_query',
       'music_likeness', 'music_query', 'iot_hue_lightup',
       'takeaway_order', 'weather_query', 'music_settings',
       'audio_volume_down', 'general_joke', 'music_dislikeness',
       'audio_volume_other', 'iot_coffee', 'audio_volume_up',
       'iot_wemo_on', 'iot_wemo_off', 'qa_stock', 'play_radio',
       'social_post', 'recommendation_locations', 'cooking_recipe',
       'qa_factoid', 'recommendation_events', 'calendar_set',
       'play_audiobook', 'play_podcasts', 'social_query',
       'transport_query', 'email_sendemail', 'transport_ticket',
       'recommendation_movies', 'lists_query', 'play_game', 'email_query',
       'transport_traffic', 'cooking_query', 'qa_definition',
       'calendar_remove', 'lists_remove', 'email_querycontact',
       'lists_createoradd', 'email_addcontact', 'transport_taxi',
       'qa_maths', 'qa_currency'], dtype=object)

In [3]:
# show all rows for the intent 'general_joke'
df[df['intent'] == 'general_joke']

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id
118,119,en-US,train,general,general_joke,make me laugh,make me laugh,221
119,120,en-US,train,general,general_joke,olly make me laugh,olly make me laugh,221
120,121,en-US,train,general,general_joke,tell me a good joke,tell me a [joke_type : good] joke,221
121,122,en-US,test,general,general_joke,send a giggle my way,send a giggle my way,221
122,123,en-US,train,general,general_joke,tell me a joke,tell me a joke,0
...,...,...,...,...,...,...,...,...
6265,6490,en-US,dev,general,general_joke,sarcastic jokes,[joke_type : sarcastic] jokes,498
6318,6545,en-US,train,general,general_joke,tell me jokes,tell me jokes,561
6379,6607,en-US,dev,general,general_joke,jokes,jokes,626
6420,6648,en-US,dev,general,general_joke,joke of the day,joke of the day,659
13268,13760,en-US,train,general,general_joke,what's the famous monty python joke about the ...,what's the famous monty python joke about the ...,251

In [4]:
df[df['id'] == 13760]['utt'].values

array(["what's the famous monty python joke about the bird"], dtype=object)