In [1]:
# load the pt-pt json file into a dataframe
import pandas as pd
import os 

df = pd.DataFrame()

for json_file in os.listdir('dataset'):
    df = pd.concat([df, pd.read_json('dataset/' + json_file, lines=True)])
    print(f"Added {json_file} to dataframe")

df['locale'] = df['locale'].apply(lambda x: x.split('-')[0])

Added en-US.jsonl to dataframe
Added af-ZA.jsonl to dataframe
Added am-ET.jsonl to dataframe
Added ar-SA.jsonl to dataframe
Added az-AZ.jsonl to dataframe
Added bn-BD.jsonl to dataframe
Added cy-GB.jsonl to dataframe
Added da-DK.jsonl to dataframe
Added de-DE.jsonl to dataframe
Added el-GR.jsonl to dataframe
Added es-ES.jsonl to dataframe
Added fa-IR.jsonl to dataframe
Added fi-FI.jsonl to dataframe
Added fr-FR.jsonl to dataframe
Added he-IL.jsonl to dataframe
Added hi-IN.jsonl to dataframe
Added hu-HU.jsonl to dataframe
Added hy-AM.jsonl to dataframe
Added id-ID.jsonl to dataframe
Added is-IS.jsonl to dataframe
Added it-IT.jsonl to dataframe
Added ja-JP.jsonl to dataframe
Added jv-ID.jsonl to dataframe
Added ka-GE.jsonl to dataframe
Added km-KH.jsonl to dataframe
Added kn-IN.jsonl to dataframe
Added ko-KR.jsonl to dataframe
Added lv-LV.jsonl to dataframe
Added ml-IN.jsonl to dataframe
Added mn-MN.jsonl to dataframe
Added ms-MY.jsonl to dataframe
Added my-MM.jsonl to dataframe
Added nb-NO.jsonl to dataframe
Added nl-NL.jsonl to dataframe
Added pl-PL.jsonl to dataframe
Added pt-PT.jsonl to dataframe
Added ro-RO.jsonl to dataframe
Added ru-RU.jsonl to dataframe
Added sl-SL.jsonl to dataframe
Added sq-AL.jsonl to dataframe
Added sv-SE.jsonl to dataframe
Added sw-KE.jsonl to dataframe
Added ta-IN.jsonl to dataframe
Added te-IN.jsonl to dataframe
Added th-TH.jsonl to dataframe
Added tl-PH.jsonl to dataframe
Added tr-TR.jsonl to dataframe
Added ur-PK.jsonl to dataframe
Added vi-VN.jsonl to dataframe
Added zh-CN.jsonl to dataframe
Added zh-TW.jsonl to dataframe

In [2]:
%run -i "preprocess_lang.ipynb"
%run -i "preprocess_nolang.ipynb"

In [3]:
df = remove_punctuation(df)
df.head()

/tmp/ipykernel_3352/3047319557.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['utt'] = df['utt'].str.replace('[^\w\s]','')

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id,slot_method,judgments
0,0,en,test,alarm,alarm_set,wake me up at five am this week,wake me up at [time : five am] [date : this week],1,NaN,NaN
1,1,en,train,alarm,alarm_set,wake me up at nine am on friday,wake me up at [time : nine am] on [date : friday],1,NaN,NaN
2,2,en,train,alarm,alarm_set,set an alarm for two hours from now,set an alarm for [time : two hours from now],1,NaN,NaN
3,3,en,test,audio,audio_volume_mute,quiet,quiet,1,NaN,NaN
4,4,en,train,audio,audio_volume_mute,olly quiet,olly quiet,1,NaN,NaN

In [4]:
df = lowercase(df)
df.head()

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id,slot_method,judgments
0,0,en,test,alarm,alarm_set,wake me up at five am this week,wake me up at [time : five am] [date : this week],1,NaN,NaN
1,1,en,train,alarm,alarm_set,wake me up at nine am on friday,wake me up at [time : nine am] on [date : friday],1,NaN,NaN
2,2,en,train,alarm,alarm_set,set an alarm for two hours from now,set an alarm for [time : two hours from now],1,NaN,NaN
3,3,en,test,audio,audio_volume_mute,quiet,quiet,1,NaN,NaN
4,4,en,train,audio,audio_volume_mute,olly quiet,olly quiet,1,NaN,NaN

In [5]:
df = tokenize(df)
df.head()

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id,slot_method,judgments,utt_text
0,0,en,test,alarm,alarm_set,"[wake, me, up, at, five, am, this, week]",wake me up at [time : five am] [date : this week],1,NaN,NaN,"(w, a, k, e, , m, e, , u, p, , a, t, , f, ..."
1,1,en,train,alarm,alarm_set,"[wake, me, up, at, nine, am, on, friday]",wake me up at [time : nine am] on [date : friday],1,NaN,NaN,"(w, a, k, e, , m, e, , u, p, , a, t, , n, ..."
2,2,en,train,alarm,alarm_set,"[set, an, alarm, for, two, hours, from, now]",set an alarm for [time : two hours from now],1,NaN,NaN,"(s, e, t, , a, n, , a, l, a, r, m, , f, o, ..."
3,3,en,test,audio,audio_volume_mute,[quiet],quiet,1,NaN,NaN,"(q, u, i, e, t)"
4,4,en,train,audio,audio_volume_mute,"[olly, quiet]",olly quiet,1,NaN,NaN,"(o, l, l, y, , q, u, i, e, t)"

In [9]:
df = apply_lemmatization(df)
df.head()

In [ ]:
df[df['locale'] == 'en']

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id,slot_method,judgments,utt_text
0,0,en,test,alarm,alarm_set,"[wake, me, up, at, five, am, this, week]",wake me up at [time : five am] [date : this week],1,NaN,NaN,"(w, a, k, e, , m, e, , u, p, , a, t, , f, ..."
1,1,en,train,alarm,alarm_set,"[wake, me, up, at, nine, am, on, friday]",wake me up at [time : nine am] on [date : friday],1,NaN,NaN,"(w, a, k, e, , m, e, , u, p, , a, t, , n, ..."
2,2,en,train,alarm,alarm_set,"[set, an, alarm, for, two, hour, from, now]",set an alarm for [time : two hours from now],1,NaN,NaN,"(s, e, t, , a, n, , a, l, a, r, m, , f, o, ..."
3,3,en,test,audio,audio_volume_mute,[quiet],quiet,1,NaN,NaN,"(q, u, i, e, t)"
4,4,en,train,audio,audio_volume_mute,"[olli, quiet]",olly quiet,1,NaN,NaN,"(o, l, l, y, , q, u, i, e, t)"
...,...,...,...,...,...,...,...,...,...,...,...
16516,17176,en,train,email,email_query,"[do, i, have, email]",do i have emails,12,NaN,NaN,"(d, o, , i, , h, a, v, e, , e, m, a, i, l, s)"
16517,17177,en,train,email,email_query,"[what, email, are, new]",what emails are new,12,NaN,NaN,"(w, h, a, t, , e, m, a, i, l, s, , a, r, e, ..."
16518,17178,en,train,email,email_query,"[do, i, have, new, email, from, john]",do i have new emails from [person : john],12,NaN,NaN,"(d, o, , i, , h, a, v, e, , n, e, w, , e, ..."
16519,17179,en,test,email,email_query,"[has, john, sent, me, an, email]",has [person : john] sent me an email,12,NaN,NaN,"(h, a, s, , j, o, h, n, , s, e, n, t, , m, ..."
16520,17180,en,train,email,email_query,"[check, email, from, john]",check email from [person : john],12,NaN,NaN,"(c, h, e, c, k, , e, m, a, i, l, , f, r, o, ..."